doctype html
html

  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    meta(name='description', content='A socket-based chat with binary exchange capabilities.')
      
    link(rel='icon', href='/media/favicon-16.png', sizes='16x16', type='image/png')
    link(rel='icon', href='/media/favicon-32.png', sizes='32x32', type='image/png')
    link(rel='icon', href='/media/favicon-48.png', sizes='48x48', type='image/png')
    link(rel='icon', href='/media/favicon-62.png', sizes='62x62', type='image/png')
    link(rel='icon', href='/media/favicon-192.png', sizes='192x192', type='image/png')

    title= title

    block css

  body
    block content

    block js
